.particles-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45vh;
  overflow: hidden;
  display: block;
  z-index: -1;
}

/* Assurer que le contenu à l'intérieur des particules reste cliquable */
.particles-container > *:not(canvas) {
  position: relative;
  z-index: 1;
}
