#root {
  margin: 0 auto;
  overflow-x: hidden;
}

::selection {
  background-color: #9D3D5C;
  color: #ffffff;
}

::-moz-selection {
  background-color: #9D3D5C;
  color: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cover {
  margin: 0 auto;
  width: 600px;
  height: 600px;
  display: block;
  position: relative;
  overflow: hidden;
}

h1,
h2 {
  font-family: "JetBrains Mono", monospace;
  color: #ffffff;
}

.text-generate {
  font-family: "JetBrains Mono", monospace;
  font-weight: normal;
}