#root {
  margin: 0 auto;
  background-color: hsl(293, 100%, 94.7%);
  text-align: center;
  overflow-x: hidden;
}
body {
  background-color: hsl(293, 100%, 94.7%);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.cover {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: block;
  position: relative;
  overflow: hidden;
}

h1,
h2 {
  font-size: 2rem;
  font-weight: 900;
}

.text-generate {
  font-family: "Merienda", cursive;
}
