.footer {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 8rem;
  margin-top: 4rem;
}

.footer-icons {
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

.footer-icon-link {
  color: white;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  text-decoration: none;
}

.footer-icon-label {
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.1em;
  transition: all 0.3s ease-in-out;
}

.footer-icon-link:hover {
  color: var(--color-primary);
  transform: scale(1.2);
}

.footer-icon-link:hover .footer-icon-label {
  color: var(--color-primary);
}
